/* Layout */
* {
    box-sizing: border-box;
    color: #444;
    font-family: "Helvetica Neue", "Helvetica", Arial;
}
.home-page {
    background: #f9fdff;
}

.home-page .page {
    width: 980px;
    margin: 20px auto;
}